<%= form_for(@dealershipvendor) do |f| %>
  <% if @dealershipvendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dealershipvendor.errors.count, "error") %> prohibited this dealershipvendor from being saved:</h2>

      <ul>
      <% @dealershipvendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vendor_id %><br>
    <%= f.text_field :vendor_id %>
  </div>
  <div class="field">
    <%= f.label :dealership_id %><br>
    <%= f.text_field :dealership_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
