<p id="notice"><%= notice %></p>

<h1>Listing Dealershipvendors</h1>

<table>
  <thead>
    <tr>
      <th>Vendor</th>
      <th>Dealership</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dealershipvendors.each do |dealershipvendor| %>
      <tr>
        <td><%= dealershipvendor.vendor %></td>
        <td><%= dealershipvendor.dealership %></td>
        <td><%= link_to 'Show', dealershipvendor %></td>
        <td><%= link_to 'Edit', edit_dealershipvendor_path(dealershipvendor) %></td>
        <td><%= link_to 'Destroy', dealershipvendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dealershipvendor', new_dealershipvendor_path %>
