<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @dealershipvendor.vendor %>
</p>

<p>
  <strong>Dealership:</strong>
  <%= @dealershipvendor.dealership %>
</p>

<%= link_to 'Edit', edit_dealershipvendor_path(@dealershipvendor) %> |
<%= link_to 'Back', dealershipvendors_path %>
