<p id="notice"><%= notice %></p>

<h1>Listing Service Advisors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password digest</th>
      <th>Remember digest</th>
      <th>Mobile</th>
      <th>Vendor mobile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_advisors.each do |service_advisor| %>
      <tr>
        <td><%= service_advisor.name %></td>
        <td><%= service_advisor.email %></td>
        <td><%= service_advisor.password_digest %></td>
        <td><%= service_advisor.remember_digest %></td>
        <td><%= service_advisor.mobile %></td>
        <td><%= service_advisor.vendor_mobile %></td>
        <td><%= link_to 'Show', service_advisor %></td>
        <td><%= link_to 'Edit', edit_service_advisor_path(service_advisor) %></td>
        <td><%= link_to 'Destroy', service_advisor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service advisor', new_service_advisor_path %>
