<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_advisor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @service_advisor.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @service_advisor.password_digest %>
</p>

<p>
  <strong>Remember digest:</strong>
  <%= @service_advisor.remember_digest %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @service_advisor.mobile %>
</p>

<p>
  <strong>Vendor mobile:</strong>
  <%= @service_advisor.vendor_mobile %>
</p>

<%= link_to 'Edit', edit_service_advisor_path(@service_advisor) %> |
<%= link_to 'Back', service_advisors_path %>
