<table style="width:600px; background: url('http://connx.in/images/mail/backfullstrip.png') repeat-y top / 100% auto;  padding-top: 15px; font-family: verdana; margin:auto;">
		
	<tr>
		<td style= "padding-left: 15px;"> 
			<%= image_tag('http://connx.in/images/mail/servx.png', height: "33", width: "580") %> 
		</td>
	</tr>		

	<tr style="text-align:right">
		<td style="padding-right:20px; padding-top:5px; color:green; font-size:14px; font-weight:bold;">Order Confirmation</td>
	</tr>

	<tr>
		<td style="padding:0px 20px; padding-top:30px; font-size:20px;">Hi <span style="color:#FAAD41;"><%=@user.name%></span>,</td>
	</tr>

	<tr>
		<td style="padding:10px 20px; font-size:11px; color:#414141;">Thank you for booking your car service with us!</td>
	</tr>
			<!-- vehicle info -->
	<tr style=" border-top:4px solid #414141; border-bottom:4px solid #FAAD41; width:560px; display:block; margin:auto">
		<td style="padding:10px 15px;">
			<table style="font-size: 12px;">
				<tr>
					<td style="padding-bottom:17px; color:#FAAD41; font-weight:bold;">
						MANUFACTURER
					</td>
					<td style="color:#414141; padding: 0px 25px; padding-bottom:17px;">
						:
					</td>
					<td style="padding-bottom:17px; color:#414141;">
						<%= @manufacturer.manufacturer%>
					</td>												
				</tr>					
				<tr>
					<td style="padding-bottom:17px; color:#FAAD41; font-weight:bold;">
						MODEL
					</td>
					<td style="color:#414141; padding: 0px 25px; padding-bottom:17px;">
						:
					</td>
					<td style="padding-bottom:17px; color:#414141;">
						<%=@vehiclemodel.name%>
					</td>												
				</tr>
				<tr>
					<td style="color:#FAAD41; font-weight:bold;">
						REGISTRATION NO
					</td>
					<td style="color:#414141;padding:0px 25px;">
						:
					</td>
					<td style="color:#414141;">
						<%=@vehicle.reg_num%>
					</td>												
				</tr>					
			</table>
		</td>
		<td style="padding:10px 0px; padding-left:60px;">  <%= image_tag("http://connx.in/images/models/#{@vehiclemodel.name.gsub(/\s+/, '-')}.jpg", height: "160", width: "160") %>
		</td>
	</tr>

	<tr>
		<td style="padding:12px 20px; color:#414141; font-size: 9px; padding-bottom:20px;">You will receive a confirmation call from us within next 24 hours.</td>
	</tr>	

	<tr style="  background-color:#FAAD41; width:560px; display:block; margin:auto">
		<td style="padding:15px 20px; font-weight:bold; font-size: 16px; ">BOOKING DETAILS</td>
	</tr>			

	<tr>
		<td style="padding:25px 40px; color:#FAAD41; font-size:15px; font-weight:bold; padding-bottom:10px;">Dealership <span style="color:#414141; font-size:17px; padding-left:5px; font-weight: normal;"> :</span><span style="color:#414141; font-size:15px; padding-left:5px;">  <%=@dealership.name%></span>
		</td>	
	</tr>	

	<tr>
		<td style=" color:#414141; font-size:11px; padding-left: 150px; padding-right: 300px; padding-bottom: 15px;">  <%=@dealership.address%>
		</td>	
	</tr>			

	<tr>
		<td style="padding:10px 40px; color:#FAAD41; font-size:13px; font-weight:bold; padding-bottom:7px;">Booking Reference Code
			<span style="color:#414141; font-size:15px; padding-left:5px; font-weight: normal;"> :</span>
			<span style="color:#414141; font-size:14px; padding-left:5px; font-weight: normal;">  <%=@booking.ref_code%></span>
		</td>	
	</tr>

	<tr style="width:560px; display:block; margin:auto; border-bottom:1px solid #414141;">
	</tr>	

	
	<tr>
		<td style="padding:25px 30px; color:#414141; font-size:13px; padding-bottom:0px;">
			<table style="padding-bottom:20px;">
				<tr>
					<%@bookingarray.each do |booking|%>
						<% wS= booking.gsub(/\s+/, '-').gsub(/\/+/, '-')%>
						<% if @counter==3%>
							</tr>
							<tr>
							<%@counter=0%>
							<td style= "padding-left:25px; padding-bottom:10px; width: 33.33%;"> 			
							 	<%= image_tag("http://connx.in/images/mail/#{wS}.png", height: "40", width: "40") %>
								<span style= "padding-left:5px; vertical-align: top; margin-top: 11px; display:inline-block; font-size:13px; word-wrap: break-word; width: 100px;"> <%= booking %>
								</span> 
							</td>
							<%@counter+=1%>									
						<%else%>	
							<td style= "padding-left:25px; padding-bottom:10px; width: 33.33%;"> 			
							 	<%= image_tag("http://connx.in/images/mail/#{wS}.png", height: "40", width: "40") %>
								<span style= "padding-left:5px; vertical-align: top; margin-top: 11px; display:inline-block; font-size:13px; word-wrap: break-word; width: 100px;"> <%= booking %>
								</span> 
							</td>
							<%@counter+=1%>	
						<%end%>		
					<%end%>
				</tr>
			</table>
		</td>						
	</tr>			

	<tr style="background-color:#D3D3D3; width:560px; display:block; margin:auto; margin-bottom:30px;">
		<td style="padding:10px 20px; color:#414141; font-size:14px; font-weight:bold;">Pickup date <span style="color:#414141; font-size:14px; padding-left:9px;"> :</span><span style="color:#414141; font-size:14px; padding-left:9px;"><%= @booking.pickup_date.strftime(" %a, %B %d, %Y")%></span>
		</td>	
		<td style="padding:10px 0px; color:#414141; font-size:14px; font-weight:bold; padding-left:50px;">Pickup time <span style="color:#414141; font-size:14px; padding-left:9px;"> :</span><span style="color:#414141; font-size:14px; padding-left:9px;"><%= @booking.slot%></span>
		</td>			
	</tr>

	<tr style="background-color:#3f3f3f; border-top:6px solid #FAAD41; display:block; margin:auto;">
		<td style="padding:25px 20px;">
			<table>
				<tr>
					<td style= "font-size:9px; color:white;">Read our terms and conditions and privacy policy 
						<a href="www.servx.in" style="color: orange;">here. </a>
					</td>				
				</tr>
				<tr>
					<td style= "padding-top:7px; font-size:12px; color:white; ">We hope to see you again.
					</td>	
				</tr>							
			</table>			
		</td>

		<td style="padding:25px 0px; text-align:end; width:50%;">
			 <%= image_tag('http://connx.in/images/mail/logo.png', height: "70", width: "80") %>
		</td>			
	</tr>	

</table>
