<h1>Booking Detail</h1>
<br>
<p>
  <%=@booking.ref_code%>
</p>
<br>
<p>
  <%=@booking.pickup_date%>
</p>
<br>
<p>
  <%=@booking.slot%>
</p>
<br>
<p>
  <%=@booking.jobs%>
</p>
<br>
<p>
  <%=@user.name%>
</p>
<br>
<p>
  <%=@vehicle.reg_num%>
</p>
<br>
<p>
  <%=@dealership.name%>
</p>
<br>
<p>
  <%=@dealership.address%>
</p>
<br>
<p>
  <%=@dealership.gm_name%>
</p>
<br>
<p>
  <%=@dealership.gm_email%>
</p>
<br>
<p>
  <%=@dealership.gm_phone%>
</p>
<br>
<%=@vehiclemodel.name%>