<table style=" color:#414141; max-width:600px; background: url('http://connx.in/images/mail/backfullstrip.png') repeat-y top / 100% auto;  padding-top: 15px; font-family: verdana; margin:auto;">
		
	<tr>
		<td style= "padding-left: 15px;"> 
			<%= image_tag('http://connx.in/images/mail/servx.png', height: "33", width: "580") %> 
		</td>
	</tr>		


	<tr>
		<td style="padding:30px 20px; padding-bottom:35px; font-size:20px;">Hi <span style="color:#FAAD41;"><%=@user.name%></span>,</td>
	</tr>

	<tr>	
		<td style="padding:0px 20px; padding-bottom:10px; font-size:15px;"> So nice to meet you,</td>
	</tr>

	<tr>	
		<td style="padding:0px 20px; padding-bottom:30px; font-size:15px;"> You are the newest member of servX, and we are glad to have you on board.</td>
	</tr>

	<tr>		
		<td style="padding:0px 20px; padding-bottom:20px; font-size:15px;">If you have any troubles in logging in, please mail us at 
			<a href="mailto:contact@servx.in" target="_blank" style= "color:orange;">contact@servx.in</a>
		</td>
	</tr>
		
	<tr>		
		<td style="padding:0px 20px; padding-bottom:15px; font-size:15px; line-height: 1.3;"> Once your account is set up, put in your vehicle details and choose your desired services; sit back and relax while servX takes care of your vehicle :)</td>
	</tr>

	<tr>	
		<td style="padding:0px 20px; padding-bottom:30px; font-size:15px;"> We hope to see you soon.</td>
	</tr>
	
	<tr>	
		<td style="padding:0px 20px; padding-bottom:10px; font-size:15px;"> Regards,</td>
	</tr>

	<tr>	
		<td style="padding:0px 20px; padding-bottom:55px; font-size:15px;"> Team servX.</td>						
	</tr>


	

	<tr style="background-color:#3f3f3f; border-top:6px solid #FAAD41; display:block; margin:auto;">
		<td style="padding:25px 20px;">
			<table>
				<tr>
					<td style= "font-size:9px; color:white;">Read our terms and conditions and privacy policy <a href="www.servx.in" style="color: orange;">here. </a>
					</td>				
				</tr>
				<tr>
					<td style= "padding-top:7px; font-size:12px; color:white;">We hope to see you again.
					</td>	
				</tr>							
			</table>			
		</td>

		<td style="padding:25px 0px; padding-left:200px">
			 <%= image_tag('http://connx.in/images/mail/logo.png', height: "70", width: "80") %>
		</td>			
	</tr>	

</table>
