<p id="notice"><%= notice %></p>

<h1>Listing Dealerships</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact person</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Activated</th>
      <th>Email</th>
      <th>Manufacturers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dealerships.each do |dealership| %>
      <tr>
        <td><%= dealership.name %></td>
        <td><%= dealership.contact_person %></td>
        <td><%= dealership.latitude %></td>
        <td><%= dealership.longitude %></td>
        <td><%= dealership.activated %></td>
        <td><%= dealership.email %></td>
        <td><%= dealership.manufacturers %></td>
        <td><%= link_to 'Show', dealership %></td>
        <td><%= link_to 'Edit', edit_dealership_path(dealership) %></td>
        <td><%= link_to 'Destroy', dealership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dealership', new_dealership_path %>
