<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dealership.name %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @dealership.contact_person %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @dealership.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @dealership.longitude %>
</p>

<p>
  <strong>Activated:</strong>
  <%= @dealership.activated %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dealership.email %>
</p>

<p>
  <strong>Manufacturers:</strong>
  <%= @dealership.manufacturers %>
</p>

<%= link_to 'Edit', edit_dealership_path(@dealership) %> |
<%= link_to 'Back', dealerships_path %>
