<%= form_for(@package_vehicle_model) do |f| %>
  <% if @package_vehicle_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@package_vehicle_model.errors.count, "error") %> prohibited this package_vehicle_model from being saved:</h2>

      <ul>
      <% @package_vehicle_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehiclemodel_id %><br>
    <%= f.text_field :vehiclemodel_id %>
  </div>
  <div class="field">
    <%= f.label :package_id %><br>
    <%= f.text_field :package_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
