<p id="notice"><%= notice %></p>

<h1>Listing Package Vehicle Models</h1>

<table>
  <thead>
    <tr>
      <th>Vehiclemodel</th>
      <th>Package</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @package_vehicle_models.each do |package_vehicle_model| %>
      <tr>
        <td><%= package_vehicle_model.vehiclemodel %></td>
        <td><%= package_vehicle_model.package %></td>
        <td><%= link_to 'Show', package_vehicle_model %></td>
        <td><%= link_to 'Edit', edit_package_vehicle_model_path(package_vehicle_model) %></td>
        <td><%= link_to 'Destroy', package_vehicle_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Package vehicle model', new_package_vehicle_model_path %>
