<p id="notice"><%= notice %></p>

<p>
  <strong>Vehiclemodel:</strong>
  <%= @package_vehicle_model.vehiclemodel %>
</p>

<p>
  <strong>Package:</strong>
  <%= @package_vehicle_model.package %>
</p>

<%= link_to 'Edit', edit_package_vehicle_model_path(@package_vehicle_model) %> |
<%= link_to 'Back', package_vehicle_models_path %>
