<!DOCTYPE html>
<html>
<head>
	<title>ConnXin</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="video_wrapper">
		<%= video_tag("home.mp4", width:"100%", id:"video", type:"video/mp4") %>
	</div>
	<div id="close_vid">X</div>
	<div id="frame1">
		<div class="wrapper">
			<div id="logo">
			<%= image_tag("logo.png", alt:"ConneXin" )%>
			</div>
			<h3 class="tagline"><span><span class="pink">Your Car</span>, Your Way</span></h3>
			<p>ConnXin brings an endless range of apps to your car, from safety to entertainment to onboard WiFi. The open road has never been this open.</p>
			<p><a href="#" class="play_vid pink" id="vid_btn">See it in action</a></p>
			<p><button id="know_more">Know More</button><button class="buy_now">Buy Now</button></p>
		</div>
	</div>
	<div id="frame2">
		<div class="wrapper">
			<div class="grid">
				<div class="col col-50 pink_bg signal">
					<div>
						<h4>YOU'VE NEVER SEEN</h4>
						<h3 class="gray">HIGH SPEED INTERNET</h3>
						<h4>LIKE THIS</h4>
						<p>ConnXin turns your car into a moving WiFi hotspot. With our built in 4G LTE, we've conquered the final frontier of connectivity.</p>
					</div>
				</div>
				<div class="col col-50 wifi"></div>
			</div>
			<div class="grid">
				<div class="col col-50 kids"></div>
				<div class="col col-50 pink_bg travel">
					<div>
						<h3>YOUR TRAVEL COMPANION</h3>
						<h3 class="gray">ROADTRIPS ARE A BREEZE</h3>
					</div>
					<div><p>Let the kids stream movies. Keep them busy with games. Download that podcast for the road. With ConnXin WiFi, your in-car entertainment choices are as vast as the Internet</p></div>
				</div>
			</div>
		</div>
	</div>
	<div id="frame3">
		<div class="wrapper">
			<div class="grid">
				<div class="col col-50 app">
				</div>
				<div class="col col-50 gray_bg app_store">
					<div>
						<h3>THE APP STORE</h3>
						<p>You're in the driver's seat with the vast range of ConnXin apps in our app store. Create the smart-car experience that takes you where you want to go.</p>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="col col-50 gray_bg travel">
					<div>
						<h3>YOUR TRAVEL COMPANION</h3>
						<h3 class="pink">DOWN EVERY ROAD OF LIFE</h3>
					</div>
					<div><p>Driving should be a pleasure, not a worry. And when something does go wrong, you shouldn't have to deal with it alone. ConnXin is always there for you. Always on the lookout. Always prepared.</p></div>
				</div>
				<div class="col col-50 phone"></div>
			</div>
		</div>
	</div>
	<div id="frame4">
		<div class="wrapper">
			<div class="grid">
				<div class="col col-50 safety blue_bg">
					<div>
						<h4>SOMETHING HERE</h4>
						<h3 class="gray">SAFETY NET</h3>
						<p>You're in the driver's seat with the vast range of ConnXin apps in our app store. Create the smart-car experience that takes you where you want to go.</p>
					</div>
				</div>
				<div class="col col-50 pickup">
				</div>
			</div>
			<div class="grid">
				<div class="col col-50 driving"></div>
				<div class="col col-50 travel blue_bg">
					<div>
						<h3>YOUR TRAVEL COMPANION</h3>
						<h3 class="gray">THE ENDLESS POSSIBLITIES</h3>
					</div>
					<div><p>Driving should be a pleasure, not a worry. And when something does go wrong, you shouldn't have to deal with it alone. ConnXin is always there for you. Always on the lookout. Always prepared.</p></div>
				</div>
			</div>
		</div>
	</div>
	<div id="frame5">
		<div class="wrapper">
			<h3 class="gray">Ready for anything.</h3>
			<h3 class="pink">Connected to everything.</h3>
			<p>ConnXin installs in seconds to turn any car into a smart car. Take control of your ride like you never have before. And be prepared for whatever’s around the next bend.</p>
			<button class="pink_bg">Buy Now 999.99</button>
		</div>
	</div>
	<footer>
		<div class="wrapper">
			<div class="col col-40">
				<h4>Get Vinil Updates</h4>
				<p>Sign up for some cool shit here! Don't know what the cool shit is though!</p>
				<form action="subscribe.php" method="POST" id="subscribe_form">
					<input type="email" name="email" placeholder="Enter your email" />
					<input type="submit" class="blue_bg" value="Subscribe" />
				</form>
			</div>
			<div class="col col-20">
				<h4>Follow Us</h4>
				<div class="social">
					<a href="https://twitter.com/@weareservx" target="_blank" class="tw">Twitter</a>
					<a href="https://www.facebook.com/servX-1634207933503559/" target="_blank" class="fb">Facebook</a>
				</div>
			</div>
			<div class="col col-40">
				<h4>More From ServX</h4>
				<div class="clear" id="footer_more">
					<a href="#">Carpet</a>
					<a href="#">FAQ</a>
					<a href="#">Developer</a>
					<a href="#">About</a>
					<a href="#">Blog</a>
					<a href="#">Contact</a>
					<a href="#">Terms</a>
					<a href="#">Jobs</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>