<%= form_for(@package) do |f| %>
  <% if @package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@package.errors.count, "error") %> prohibited this package from being saved:</h2>

      <ul>
      <% @package.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :all %><br>
    <%= f.check_box :all %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
