<p id="notice"><%= notice %></p>

<h1>Listing Packages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>All</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @packages.each do |package| %>
      <tr>
        <td><%= package.name %></td>
        <td><%= package.cost %></td>
        <td><%= package.all %></td>
        <td><%= link_to 'Show', package %></td>
        <td><%= link_to 'Edit', edit_package_path(package) %></td>
        <td><%= link_to 'Destroy', package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Package', new_package_path %>
