<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @package.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @package.cost %>
</p>

<p>
  <strong>All:</strong>
  <%= @package.all %>
</p>

<%= link_to 'Edit', edit_package_path(@package) %> |
<%= link_to 'Back', packages_path %>
