<%= form_for(@vehiclemodel) do |f| %>
  <% if @vehiclemodel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehiclemodel.errors.count, "error") %> prohibited this vehiclemodel from being saved:</h2>

      <ul>
      <% @vehiclemodel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :manufacturer_id %><br>
    <%= f.text_field :manufacturer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
