<p id="notice"><%= notice %></p>

<h1>Listing Vehiclemodels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehiclemodels.each do |vehiclemodel| %>
      <tr>
        <td><%= vehiclemodel.name %></td>
        <td><%= vehiclemodel.manufacturer %></td>
        <td><%= link_to 'Show', vehiclemodel %></td>
        <td><%= link_to 'Edit', edit_vehiclemodel_path(vehiclemodel) %></td>
        <td><%= link_to 'Destroy', vehiclemodel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehiclemodel', new_vehiclemodel_path %>
