<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehiclemodel.name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @vehiclemodel.manufacturer %>
</p>

<%= link_to 'Edit', edit_vehiclemodel_path(@vehiclemodel) %> |
<%= link_to 'Back', vehiclemodels_path %>
