<%= form_for(@getoffer) do |f| %>
  <% if @getoffer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@getoffer.errors.count, "error") %> prohibited this getoffer from being saved:</h2>

      <ul>
      <% @getoffer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manufacturer_id %><br>
    <%= f.text_field :manufacturer_id %>
  </div>
  <div class="field">
    <%= f.label :offer_id %><br>
    <%= f.text_field :offer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
