<p id="notice"><%= notice %></p>

<h1>Listing Getoffers</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Offer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @getoffers.each do |getoffer| %>
      <tr>
        <td><%= getoffer.manufacturer %></td>
        <td><%= getoffer.offer %></td>
        <td><%= link_to 'Show', getoffer %></td>
        <td><%= link_to 'Edit', edit_getoffer_path(getoffer) %></td>
        <td><%= link_to 'Destroy', getoffer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Getoffer', new_getoffer_path %>
