<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @getoffer.manufacturer %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @getoffer.offer %>
</p>

<%= link_to 'Edit', edit_getoffer_path(@getoffer) %> |
<%= link_to 'Back', getoffers_path %>
