<p id="notice"><%= notice %></p>

<p>
  <strong>Vehiclemodel:</strong>
  <%= @price.vehiclemodel %>
</p>

<p>
  <strong>Job:</strong>
  <%= @price.job %>
</p>

<p>
  <strong>Price:</strong>
  <%= @price.price %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
