<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @offer.image %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @offer.expires_at %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
