<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @driver.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @driver.password_digest %>
</p>

<p>
  <strong>Remember digest:</strong>
  <%= @driver.remember_digest %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @driver.mobile %>
</p>

<p>
  <strong>Vendor mobile:</strong>
  <%= @driver.vendor_mobile %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
