html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	height:100%;
}
body {
	line-height: 1.4;
	color:#fff;
	font-family: 'Ubuntu', sans-serif;
	font-weight:400;
	height:100%;
	overflow:hidden;
	background:rgba(0,0,0,.6);
}
body.scrollable{
	overflow-y:auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Reset Ends*/
/*Generic Starts*/
*,*:before,*:after{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	zoom:1;
}
img{
	display: inline-block;
	max-width:100%;
}
a{
	text-decoration:none;
	color:inherit;
}
.pink{
	color:#ff6654;
}
.pink_bg{
	background-color:#ff6654;
}
.gray{
	color:#333;
}
.gray_bg{
	background-color:#333;
}
.blue_bg{
	background-color:#00aeef;
}
.tagline{
	font-size:52px;
}
button{
	border:1px solid #fff;
	padding:20px 40px;
	background:none;
	border-radius:20px;
	color:#fff;
	margin:0 20px;
	cursor:pointer;
	font-size:20px;
}
button:active,button:focus{
	outline:none;
}
.wrapper{
	max-width:1400px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.clear:after{
	content:'';
	display:block;
	width:100%;
	clear:both;
}
.grid{
	display:table;
}
.grid:after{
/*	content:'';
	display:block;
	width:100%;
	clear:both;*/
}
.col{
	/*float:left;*/
	display:table-cell;
}
.col-20{
	width:20%;
}
.col-40{
	width:40%;
}
.col-50{
	width:50%;
}
/*First Frame*/
#video_wrapper{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
}
#close_vid{
	position:absolute;
	right:10px;
	top:10px;
	color:#000;
	font-size:44px;
	transform:translateX(100px);
	transition:transform .6s;
	cursor:pointer;
}
body.video_playing #close_vid{
	transform:translateX(0);
}
#frame1{
	position:relative;
	height:100%;
	z-index:1;
	text-align:center;
	padding:80px 20px;
	transition:opacity .6s;
}
body.video_playing{
	overflow-y:hidden;
}
body.video_playing #frame1{
	opacity:0;
	pointer-events:none;
}
#frame1:after{
	content:'';
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background: rgba(0,0,0,.6);
	box-shadow: 0 0 1000px rgba(0, 0, 0, 0.9) inset;
	z-index:-1;
}
#frame1 .tagline{
	margin:40px auto;
}
#frame1 .tagline>span{
	border-bottom:4px solid #fff;
}
#frame1 p{
	margin:20px auto;
	max-width:500px;
}
#vid_btn{
	font-size:42px;
}
#vid_btn:before{
	content:'';
	display:inline-block;
	vertical-align:middle;
	background-image: url(<%= asset_path 'sprite.png' %>);
	background-repeat:no-repeat;
	background-position:-127px -206px;
	width:50px;
	height:50px;
	margin:-4px 20px 0 0;
}
#frame2 .col,#frame3 .col,#frame4 .col{
	position:relative;
}
#frame2 .col>div,#frame3 .col>div,#frame4 .col>div{
	padding:80px 40px;
	position:relative;
}
#frame2 .col:nth-child(odd),#frame3 .col:nth-child(odd),#frame4 .col:nth-child(odd){
	text-align:right;
}
#frame2 h4,#frame3 h4,#frame4 h4{
	font-size:24px;
}
#frame2 h3,#frame3 h3,#frame4 h3{
	font-size:36px;
	margin:10px 0;
}
#frame2 p,#frame3 p,#frame4 p{
	margin:40px 0;
}
#frame2 .col.signal>div:before{
	content:'';
	display:block;
	background-image: url(<%= asset_path 'sprite.png' %>);
	background-repeat:no-repeat;
	width:152px;
	height:115px;
	margin:20px 0 20px auto;
}
#frame2 .col.wifi{
	background:#fff url(<%= asset_path 'wifi.png' %>) no-repeat center bottom;
}
#frame2 .col.kids{
	background:#fff url(<%= asset_path 'kids.jpg' %>) no-repeat center bottom;
}
#frame2 .col.travel{
	background-image:url(<%= asset_path 'red_back.png' %>);
	background-repeat:repeat-y;
	background-position:right top;
}
#frame2 .col.travel:before{
	content:'';
	display:block;
	position:absolute;
	left:-40px;
	top:50%;
	border-top:40px solid transparent;
	border-bottom:40px solid transparent;
	border-right:40px solid #ff6654;
}
#frame2 .col.travel>div:first-child:before{
	content:'';
	display:block;
	position:absolute;
	left:20px;
	top:0;
	width:8px;
	height:100%;
	background:#333;
}
#frame2 .col.travel>div:first-child,#frame3 .col.travel>div:first-child,#frame4 .col.travel>div:first-child{
	padding-bottom:0;
}
#frame2 .col.travel h3:last-child,#frame3 .col.travel h3:last-child,#frame4 .col.travel h3:last-child{
	margin-bottom:0;
    line-height: 30px;
}
#frame3 .col.app{
	background:#fff url(<%= asset_path 'app.png' %>) no-repeat center bottom;
}
#frame3 .col.phone{
	background:url(<%= asset_path 'phone.jpg' %>) no-repeat center bottom;
}
#frame3 .col.travel{
	background-image:url(<%= asset_path 'black_back.png' %>);
	background-repeat:repeat-y;
	background-position:left top;
}
#frame3 .col.app_store>div:before{
	content:'';
	display:block;
	background:url(<%= asset_path 'sprite.png' %>) no-repeat;
	background-position:-175px 0;
	width:115px;
	height:115px;
}
#frame3 .col.travel:after{
	content:'';
	display:block;
	position:absolute;
	right:-40px;
	top:50%;
	border-top:40px solid transparent;
	border-bottom:40px solid transparent;
	border-left:40px solid #333;
	z-index:1;
}
#frame3 .col.travel>div:first-child:after{
	content:'';
	display:block;
	position:absolute;
	right:20px;
	top:0;
	width:8px;
	height:100%;
	background:#fff;
}
#frame4 .col.pickup{
	background:#fff url(<%= asset_path 'pickup.png' %>) no-repeat center bottom;
}
#frame4 .col.driving{
	background:url(<%= asset_path 'driving.jpg' %>) no-repeat center bottom;
}
#frame4 .col.travel{
	background-image:url(<%= asset_path 'blue_back.png' %>);
	background-repeat:repeat-y;
	background-position:right top;
}
#frame4 .col.travel:after{
	content:'';
	display:block;
	position:absolute;
	left:-40px;
	top:50%;
	border-top:40px solid transparent;
	border-bottom:40px solid transparent;
	border-right:40px solid #00aeef;
	z-index:1;
}
#frame4 .col.safety>div:before{
	content:'';
	display:block;
	background:url(<%= asset_path 'sprite.png' %>) no-repeat;
	background-position:0 -140px;
	width:85px;
	height:141px;
	margin:0 0 20px auto;
}
#frame4 .col.travel>div:first-child:before{
	content:'';
	display:block;
	position:absolute;
	left:20px;
	top:0;
	width:8px;
	height:100%;
	background:#333;
}
#frame5>.wrapper{
	background:#fff url(<%= asset_path 'device.png' %>) no-repeat right center;
	padding:80px 40px 120px;
	position:relative;
}
#frame5>.wrapper:before,#frame5>.wrapper:after{
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:50%;
	height:100%;
	background:url(<%= asset_path 'black_back.png' %>) repeat-y left top;
	z-index:0;
	opacity:0.3;
}
#frame5>.wrapper:after{
	left:auto;
	right:0;
	background:url(<%= asset_path 'black_back.png' %>) repeat-y right top;
}
#frame5 h3{
	font-size:36px;
	margin:20px 0;
}
#frame5 p{
	max-width:500px;
	margin:20px 0;
	color:#333;
}
footer{
	background:#29282d;
	padding:40px 0;
	color:#bdbcc1;
	border-bottom:60px solid #333;
}
footer h4{
	color:#bdbcc1;
	font-size:20px;
	margin-bottom:20px;
}
footer p{
	width:60%;
}
#subscribe_form input[type="email"]{
	border:1px solid #ccc;
	background:none;
	padding:10px;
	display:block;
	width: 100%;
	max-width: 300px;
	border-radius: 5px;
	margin:20px 0;
}
#subscribe_form input[type="email"]:focus{
	outline:none;
	box-shadow:0 0 15px rgba(0, 174, 239, 0.5);
	border:1px solid transparent;
}
#subscribe_form input[type="submit"]{
	border:none;
	padding:10px 30px;
	cursor:pointer;
	color:#fff;
	border-radius:5px;
	font-size:20px;
}
footer .social a{
	display:block;
	margin-bottom:10px;
}
.social a:before{
	content:'';
	display:inline-block;
	background:url(<%= asset_path 'sprite.png' %>) no-repeat;
	width:24px;
	height:25px;
	vertical-align: middle;
	margin-right: 10px;
}
.social .tw:before{
	background-position:-166px -142px;
}
.social .fb:before{
	background-position:-110px -142px;
}
#footer_more a{
	width:50%;
	float:left;
	margin-bottom:10px;
}