<%= form_for(@sub_vendor) do |f| %>
  <% if @sub_vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_vendor.errors.count, "error") %> prohibited this sub_vendor from being saved:</h2>

      <ul>
      <% @sub_vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br>
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :remember_digest %><br>
    <%= f.text_field :remember_digest %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :dealership_id %><br>
    <%= f.text_field :dealership_id %>
  </div>
  <div class="field">
    <%= f.label :vendor_id %><br>
    <%= f.text_field :vendor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
