<p id="notice"><%= notice %></p>

<h1>Listing Sub Vendors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password digest</th>
      <th>Remember digest</th>
      <th>Mobile</th>
      <th>Dealership</th>
      <th>Vendor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_vendors.each do |sub_vendor| %>
      <tr>
        <td><%= sub_vendor.name %></td>
        <td><%= sub_vendor.email %></td>
        <td><%= sub_vendor.password_digest %></td>
        <td><%= sub_vendor.remember_digest %></td>
        <td><%= sub_vendor.mobile %></td>
        <td><%= sub_vendor.dealership %></td>
        <td><%= sub_vendor.vendor %></td>
        <td><%= link_to 'Show', sub_vendor %></td>
        <td><%= link_to 'Edit', edit_sub_vendor_path(sub_vendor) %></td>
        <td><%= link_to 'Destroy', sub_vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub vendor', new_sub_vendor_path %>
