<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sub_vendor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sub_vendor.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @sub_vendor.password_digest %>
</p>

<p>
  <strong>Remember digest:</strong>
  <%= @sub_vendor.remember_digest %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @sub_vendor.mobile %>
</p>

<p>
  <strong>Dealership:</strong>
  <%= @sub_vendor.dealership %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @sub_vendor.vendor %>
</p>

<%= link_to 'Edit', edit_sub_vendor_path(@sub_vendor) %> |
<%= link_to 'Back', sub_vendors_path %>
