<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @manufacturer.manufacturer %>
</p>

<p>
  <strong>Description:</strong>
  <%= @manufacturer.description %>
</p>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
