<%= form_for(@job_package) do |f| %>
  <% if @job_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_package.errors.count, "error") %> prohibited this job_package from being saved:</h2>

      <ul>
      <% @job_package.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.text_field :job_id %>
  </div>
  <div class="field">
    <%= f.label :package_id %><br>
    <%= f.text_field :package_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
