<p id="notice"><%= notice %></p>

<h1>Listing Job Packages</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Package</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_packages.each do |job_package| %>
      <tr>
        <td><%= job_package.job %></td>
        <td><%= job_package.package %></td>
        <td><%= job_package.quantity %></td>
        <td><%= link_to 'Show', job_package %></td>
        <td><%= link_to 'Edit', edit_job_package_path(job_package) %></td>
        <td><%= link_to 'Destroy', job_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job package', new_job_package_path %>
