<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @job_package.job %>
</p>

<p>
  <strong>Package:</strong>
  <%= @job_package.package %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @job_package.quantity %>
</p>

<%= link_to 'Edit', edit_job_package_path(@job_package) %> |
<%= link_to 'Back', job_packages_path %>
